/*-- scss:defaults --*/
$custom-col: #f0a800;
$blood: #FFA07A;
$link-color: #FFA07A;
$link-color-hover: #FFBFA0;
$linkColor: #FFA07A;
$linkColorHover: #FFBFA0;

$presentation-h1-font-size: 2em;

/*-- scss:rules --*/

.reveal strong {
  color: $custom-col;
}

.highlight-last  {
  color: grey;
  .current-fragment {
    color: #f0a800;
  }
}
