/*-- scss:defaults --*/
$custom-col: #f0a800;

$presentation-h1-font-size: 2em;

/*-- scss:rules --*/

.reveal strong {
  color: $custom-col;
}

.highlight-last  {
  color: grey;
  .current-fragment {
    color: #f0a800;
  }
}
